.termsfeed-com---palette-light {
    max-width: 100%!important;
    width: 100%!important;
  }
  
  .termsfeed-com---palette-light .cc-nb-okagree {
    background-color: #174E65!important;
  }
  
  .termsfeed-com---palette-light .cc-nb-reject {
    background-color: #174E65!important;
  }